{% extends "admin/change_form.html" %}
{% load i18n static %}
{# Based on Django 5.2 admin/auth/user/add_form.html, plus block.super in form_top #}

{% block form_top %}
    {{ block.super }}

    {% if not is_popup %}
        <p>{% translate "After you’ve created a user, you’ll be able to edit more user options." %}</p>
    {% endif %}
{% endblock %}
{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/unusable_password_field.css' %}">
{% endblock %}
{% block admin_change_form_document_ready %}
  {{ block.super }}
  <script src="{% static 'admin/js/unusable_password_field.js' %}" defer></script>
{% endblock %}
