{% extends 'admin/change_list.html' %}
{% load i18n admin_list suit_list%}

{% block search %}{% suit_search_form cl %}{% endblock %}

{% block object-tools %}
{# this block is copied in search_form.html to have the add button in the right div I case horizontal filter with a lot of filters #}
{% endblock %}

{% block filters %}
    {# No vertical filter panel: only the suit_list_filter_horizontal filters are displayed, in the toolbar (suit/search_form.html) #}
{% endblock %}

{% block footer %}
    {{ block.super }}

    {% if cl.has_filters %}
        <script type="text/javascript">
            // Handle change list filter null values
            Suit.$('.search-filter').suitSearchFilters();
        </script>
    {% endif %}
{% endblock %}
