{% extends 'admin/change_list.html' %}
{% load i18n admin_list suit_list%}

{% block search %}{% suit_search_form cl %}{% endblock %}

{% block object-tools %}
{# this block is copied in search_form.html to have the add button in the right div I case horizontal filter with a lot of filters #}
{% endblock %}

{% block filters %}
    {# Based on Django 4.2; only the vertical filters are listed here, suit_list_filter_horizontal ones are in suit/search_form.html #}
    {% if cl.has_filters %}
        <div id="changelist-filter">{% for spec in cl.filter_specs|suit_list_filter_vertical:cl %}
            {% if forloop.first %}
                <h2>{% translate 'Filter' %}</h2>
                {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
                  <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
                </h3>{% endif %}
            {% endif %}
            {% admin_list_filter cl spec %}
        {% endfor %}</div>
    {% endif %}
{% endblock %}

{% block footer %}
    {{ block.super }}

    {% if cl.has_filters %}
        <script type="text/javascript">
            // Handle change list filter null values
            Suit.$('.search-filter').suitSearchFilters();
        </script>
    {% endif %}
{% endblock %}
